<section id='about' class='row-auto col'>
  <h2>About Us</h2>
    <article class='col row-auto'>
      <h3>Nathan</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et eleifend tortor. Vestibulum in porttitor nulla. Suspendisse ut quam quis mi vestibulum ultricies. Ut vel nulla lectus. Curabitur tincidunt nisl sit amet vulputate ullamcorper. Sed eget risus interdum, fermentum ante et, lobortis enim. Phasellus fermentum congue vehicula. Mauris aliquet ligula pretium risus venenatis laoreet. Nam cursus convallis convallis. Nunc elementum neque mollis, varius nisi in, pharetra erat. Maecenas iaculis interdum aliquam. Donec id enim eu orci vehicula mollis in vel metus. Vestibulum hendrerit pharetra quam</p>
    </article>
    <article class='col row-auto'>
      <h3>Jesse</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et eleifend tortor. Vestibulum in porttitor nulla. Suspendisse ut quam quis mi vestibulum ultricies. Ut vel nulla lectus. Curabitur tincidunt nisl sit amet vulputate ullamcorper. Sed eget risus interdum, fermentum ante et, lobortis enim. Phasellus fermentum congue vehicula. Mauris aliquet ligula pretium risus venenatis laoreet. Nam cursus convallis convallis. Nunc elementum neque mollis, varius nisi in, pharetra erat. Maecenas iaculis interdum aliquam. Donec id enim eu orci vehicula mollis in vel metus. Vestibulum hendrerit pharetra quam</p>
    </article>
    <article class='col row-auto'>
      <h3>Brian</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et eleifend tortor. Vestibulum in porttitor nulla. Suspendisse ut quam quis mi vestibulum ultricies. Ut vel nulla lectus. Curabitur tincidunt nisl sit amet vulputate ullamcorper. Sed eget risus interdum, fermentum ante et, lobortis enim. Phasellus fermentum congue vehicula. Mauris aliquet ligula pretium risus venenatis laoreet. Nam cursus convallis convallis. Nunc elementum neque mollis, varius nisi in, pharetra erat. Maecenas iaculis interdum aliquam. Donec id enim eu orci vehicula mollis in vel metus. Vestibulum hendrerit pharetra quam</p>
    </article>
</section>
