
<section id='services' class='col wrap'>
  <h2>Services</h2>
  <article class='left'>
    <figure>
      <%= image_tag("fingerprint.svg", size: "150") %>
      <figcaption>Branding</figcaption>
    </figure>
    <p>Let us help you develop your brand.</p>
  </article>
  <article class='center'>
    <figure>
      <%= image_tag("magic-wand.svg", size: "150") %>
      <figcaption>Development</figcaption>
    </figure>
    <p>Bring your projects to life.</p>
  </article>
  <article class='right'>
    <figure>
      <%= image_tag("list.svg", size: "150") %>
      <figcaption>Consulting</figcaption>
    </figure>
    <p>Get your questions answered.</p>
  </article>
</section>
<section class='col row-75'>
  <h2>Why Choose Reaper Studios</h2>
  <article class='col-2 row-auto'>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et eleifend tortor. Vestibulum in porttitor nulla. Suspendisse ut quam quis mi vestibulum ultricies. Ut vel nulla lectus. Curabitur tincidunt nisl sit amet vulputate ullamcorper. Sed eget
    risus interdum, fermentum ante et, lobortis enim. Phasellus fermentum congue vehicula. Mauris aliquet ligula pretium risus venenatis laoreet. Nam cursus convallis convallis. Nunc elementum neque mollis, varius nisi in, pharetra erat. Maecenas iaculis
    interdum aliquam. Donec id enim eu orci vehicula mollis in vel metus. Vestibulum hendrerit pharetra quam
  </article>
  <article class='col-2 row-auto'>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et eleifend tortor. Vestibulum in porttitor nulla. Suspendisse ut quam quis mi vestibulum ultricies. Ut vel nulla lectus. Curabitur tincidunt nisl sit amet vulputate ullamcorper. Sed eget
    risus interdum, fermentum ante et, lobortis enim. Phasellus fermentum congue vehicula. Mauris aliquet ligula pretium risus venenatis laoreet. Nam cursus convallis convallis. Nunc elementum neque mollis, varius nisi in, pharetra erat. Maecenas iaculis
    interdum aliquam. Donec id enim eu orci vehicula mollis in vel metus. Vestibulum hendrerit pharetra quamLorem ipsum dolor sit amet, consectetur adipiscing elit. In et eleifend tortor. Vestibulum in porttitor nulla. Suspendisse ut quam quis mi
    vestibulum ultricies. Ut vel nulla lectus. Curabitur tincidunt nisl sit amet vulputate ullamcorper. Sed eget risus interdum, fermentum ante et, lobortis enim. Phasellus fermentum congue vehicula. Mauris aliquet ligula pretium risus venenatis laoreet.
    Nam cursus convallis convallis. Nunc elementum neque mollis, varius nisi in, pharetra erat. Maecenas iaculis interdum aliquam. Donec id enim eu orci vehicula mollis in vel metus. Vestibulum hendrerit pharetra quamLorem ipsum dolor sit amet,
    consectetur adipiscing elit. In et eleifend tortor. Vestibulum in porttitor nulla. Suspendisse ut quam quis mi vestibulum ultricies. Ut vel nulla lectus. Curabitur tincidunt nisl sit amet vulputate ullamcorper. Sed eget risus interdum, fermentum ante
    et, lobortis enim. Phasellus fermentum congue vehicula. Mauris aliquet ligula pretium risus venenatis laoreet. Nam cursus convallis convallis. Nunc elementum neque mollis, varius nisi in, pharetra erat. Maecenas iaculis interdum aliquam.
  </article>
</section>
