<section class='col wrap'>
  <h1>Services</h1>
    <article class='left'>
      <figure>
        <%= image_tag("fingerprint.svg", size: "150") %>
        <figcaption>Branding</figcaption>
      </figure>
      <p>Let us help you develop your brand.</p>
    </article>
    <article class='center'>
      <figure>
        <%= image_tag("magic-wand.svg", size: "150") %>
        <figcaption>Development</figcaption>
      </figure>
      <p>Bring your projects to life.</p>
    </article>
    <article class='right'>
      <figure>
        <%= image_tag("list.svg", size: "150") %>
        <figcaption>Consulting</figcaption>
      </figure>
      <p>Get your questions answered.</p>
    </article>
</section>
